<div class="container p-5" style="background-color: #fff;">
    <div class="grid">
        <div class="col-12 lg:col-12 xl:col-12">
            <h4>Status</h4>
        </div>
        <div class="col-12 lg:col-3 xl:col-3">
            <div class="card flex flex-column align-items-center justify-content-center">
                <i class="pi pi-clone"></i>
                <h5>Validations Run</h5>
            </div>
            
        </div>
        <div class="col-12 lg:col-3 xl:col-3">
            <div class="card flex flex-column align-items-center justify-content-center">
                <i class="pi pi-globe"></i>
                <h5>Connected Applications</h5>
            </div>
            
        </div>

        <div class="col-12 lg:col-3 xl:col-3">
            <div class="card flex flex-column align-items-center justify-content-center">
                <i class="pi pi-file"></i>
                <h5>Activated Schemes</h5>
            </div>
            
        </div>
        <div class="col-12 lg:col-3 xl:col-3">
            <div class="card flex flex-column align-items-center justify-content-center">
                <i class="pi pi-table"></i>
                <h5>Custom Business Rules</h5>
            </div>
            
        </div>
    </div>
</div>