<div class="grid">
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-center mb-3">
                <img src="../../../assets/images/pie-chart.png" alt="" class="chart">
            </div>
            <span class="text-500">Test case distribution by ISO messages</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-center mb-3">
                <img src="../../../assets/images/line-chart.png" alt="" class="line-chart">
            </div>
            <span class="text-500">Test case execution trends</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-center mb-3">
                <img src="../../../assets/images/pie-chart.png" alt="" class="chart">
            </div>
            <span class="text-500">Execution breakdown by applications</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-center mb-3">
                <img src="../../../assets/images/pie-chart.png" alt="" class="chart">
            </div>
            <span class="text-500">Execution breakdown by corresponding banks</span>
        </div>
    </div>
</div>